.li{
  align-content: left;
  text-align: left;
  align-content: left;
}
.div{
  align-content: left;
}
.h1{
  font: 300px;
  font-family: monospace;
  text-align: center;
  align-content: left;
}
.h2{
  color: black;
}

